<div class="container">
  <h1 class="mt-5">Prueba de Angular</h1>
</div>

<div class="alert alert-danger" role="alert">
  Se debe implementar en /todos una lista de todos que sea populada por el
  siguiente endpoint: https://jsonplaceholder.typicode.com/todos
</div>

<div class="alert alert-danger" role="alert">
  Dado un usuario en /todos, Cuando aprieta el botón Search todos, se debe tomar
  el contenido de un input presente en la pantalla y realizar la busqueda sobre
  la lista. Si no hay resultados se debe mostrar un mensaje en lugar de la
  lista. El botón de buscar se debe ver una vez que el input de búsqueda tiene
  al menos un caracter y este no es vacío.
</div>

<div class="alert alert-danger" role="alert">
  Dada la lista de todos, se debe poder permitir ir al detalle de un todo al
  clickear un botón en la lista. En el detalle se podrá ver el id, titulo, y si
  fue completado o no. El endpoint que trae la información del todo es:
  https://jsonplaceholder.typicode.com/todos/:id
</div>

<div class="alert alert-danger" role="alert">
  La aplicación debe estar bien estructurada y seguir buenas prácticas, eviten
  el uso de anys y tipen todo lo que sea necesario.
</div>
